// import icon
@import '//at.alicdn.com/t/font_2410206_kxwb6og9m5.css'

.home .hero {
    padding-top: 5em;
    padding-bottom: 5em;
}

.home .features {
    border-top: 0px !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

.home .hero {
    flex-flow: column;
    align-items: center;
    text-align: center !important;
}

.theme-dark .home .features .feature0 {
    background: #981a24 !important;
}

.theme-dark .home .features .feature1 {
    background: #254218 !important;
}

.theme-dark .home .features .feature2 {
    background: #2d427f !important;
}

.home .features .feature0, .theme-light .home .features .feature0 {
    background: #fbd6d9 !important;
}

.home .features .feature1, .theme-light .home .features .feature1 {
    background: #c2efae !important;
}

.home .features .feature2, .theme-light .home .features .feature2 {
    background: #b7c6f1 !important;
}

h2 {
    font-size: 1.9rem !important;
}

